.menu {
    position:fixed;
    display: none;
    opacity: 0;
    top: 25%;
    right: 10%;
    width: 80%;
    height: 68%;
    @media screen and (min-width: 950px){
        position: absolute;
        display: block;
        opacity: 1;
        top: 9.7%;
        right: 10%;
        width: 28em;
        height: 1.9em;
    }
    transition: right 1s, width 1s, height 1s, background-color 1s, opacity 0.5s;
    z-index: 1;
    
    color: #ff7200;
    
    ul {
        width: 100%;
        height: 100%;
        background-color: rgba(140, 140, 140, 0.8);
        @media screen and (min-width: 950px){
            background-color: rgba(140, 140, 140, 0.6);
        }
        box-shadow: inset 0 0 0 2px rgba(175, 176, 170, 0.5); // imitates border, but lets li elements overlap this imitated "inner" border
        border-radius: 11px;
        transition: inherit;
    }
    
    &__item {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        font-weight: 400;
        @media screen and (max-width: 949px){
            top: 50%;
            transform: translateY(-5em);  
        }
        font-size: 1.5em;
        line-height: 2em;
        width: 100%;
        @media screen and (min-width: 950px), screen and (orientation: landscape) and (max-height: 375px) {
            font-size: 1em;
        }
        @media screen and (min-width: 950px) {
            height: 100%;
            width: auto;
        }
        padding: 0 1em;
        cursor: pointer;
        color: #000000;
        border: {
            radius: 10px;
            style: solid;
            width: 1px;
            color:rgba(140, 140, 140, 0);
        }

        &:hover {
            border-color: #afb0aa;
            background-color: rgba(140, 140, 140, 0.9);
        } 
    }
    
    &--fixed {
        @media screen and (min-width: 950px){
            top: -1px;
            right: 0;
            width: 100%;
            position: fixed;
            ul {
                box-shadow: none;
                border-bottom: 2px solid rgba(175, 176, 170, 0.5);
                border-radius: 0;  
                background-color: rgba(140, 140, 140, 0.8);
            }
            li {
                top: 1px;
            }
        }
    }
}

.hamburger {
    @media screen and (min-width: 950px){
        display:none;
    }
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    padding: 6.25px;
    box-sizing: border-box;
    border: 2px solid rgba(175, 176, 170, 0.5);
    border-radius: 11px;
    background-color: rgba(140, 140, 140, 0.6);
    &:hover {
         background-color: rgba(140, 140, 140, 0.8);
    }
    z-index: 2;
    
    &__line {
        margin: 6.25px auto;
        height: 0;
        width: 70%;
        border: 2px solid rgba(175, 176, 170, 0.5);;
        border-radius: 2px;
        transition: transform 0.5s;
        transform-origin: right;
    }
}