#search-box {
    position:relative;
    margin: 0 auto;
    width: 43.4%;
    height: 3.3em;
    top:62.8%;
    background-color: rgba(255, 255, 255, 0.5);
    border:{
        color: #afb0aa;
        radius: 10px;
        style: solid;
        width: 2px;      
    }
    form {
        height: 100%;
    }
}

#search-input {
    position:absolute;
    left:0;
    width:82.8%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border:none;
    color: rgba(0, 0, 0, 0.6);
    font: 700 18px Roboto;
    text-transform:uppercase;
    text-align: center;
    &::placeholder{
        color: rgba(0, 0, 0, 0.6);
    }
    &:focus::placeholder{
        color:transparent;
    }
}

#search-button{
    position:absolute;
    right:-2px;
    top:-2px;
    width:15.2%;
    height: 105%;
    cursor: pointer;
    border: {
        color: #aaaaaa;
        radius: 10px;
        style: solid;
        width: 2px;
    }
    background-color: transparent;
}